
HybrIK-main/smplx/SMPLX_FEMALE.npz
HybrIK-main/smplx/SMPLX_FEMALE.pkl
HybrIK-main/smplx/SMPLX_MALE.npz
HybrIK-main/smplx/SMPLX_MALE.pkl
HybrIK-main/smplx/SMPLX_NEUTRAL.npz
HybrIK-main/smplx/SMPLX_NEUTRAL.pkl
HybrIK-main/pretrained_models/hybrikx_rle_hrnet.pth
